@import 'libs/bootstrap-reboot.min';
//---------------------------add goole fonts-------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    // transition: all 0.6s;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/banner';
@import 'blocks/biggest';
@import 'blocks/online';
@import 'blocks/media';