.online {
    position: relative;
    margin-top: 75px;
    width: 100%;
    min-height: 653px;
    border-radius: 8px;
    border: 1px solid white;
    padding: 0px 34px;
    &__header {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 45px;
        background: $color-red;
        border-radius: 8px;
        font-weight: 700;
        font-size: 18px;
        line-height: 45px;
        text-align: center;
        color: #FFFFFF;
    }
    &__cards {
        width: 100%;
        min-height: 555px;
        margin-top: 60px;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        &-item {
            position: relative;
            width: 208px;
            height: 270px;
            border: 1px solid #E0E0E0;
            border-radius: 8px;
            padding: 13px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &-star {
                position: absolute;
                top: 10px;
                right: 18px;
            }
            &-circle {
                height: 94px;
                width: 95px;
                border: 2px solid #E0E0E0;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 79.16px;
                    height: 36.34px;
                }
            }
            &-wrapper {
                margin-top: 28px;
                width: 129px;
                height: 73px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;    
                &-mega {
                    span {
                        font-weight: 500;
                        font-size: 13.5px;
                        text-transform: uppercase;
                        color: #000000;
                    }
                }
                &-pris {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 22px;
                    color: #000000;
                }
                &-time {
                    display: flex;
                    align-items: center;
                    img {
                        width: 16px;
                        height: 16px;
                        margin-right: 4px;
                    }
                    span {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 18px;
                        color: $color-blue;

                    }
                }

            }
            &-btn {
                cursor: pointer;
                margin-top: 12px;
                width: 100%;
                height: 38px;
                background: $color-yellow;
                border-radius: 8px;
                font-weight: 500;
                font-size: 16px;
                line-height: 38px;
                text-align: center;
            }
        }
    }
    a {
        position: absolute;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #0061A3;
        bottom: 0;
        right: 35px;
    }
}